<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create department</title>
</head>
<body>

	<form th:action="@{/department/create}" method="post">
		<br><label>ID:</label> 
		<br><input type= "text" name="id">
		
		<br><label>Name:</label> 
		<br><input type= "text" name="name">
		
		<br> <label class="form-label">Ngay tao:</label>
	  	<br> <input type="text" name="ngaytao" placeholder="dd/MM/yyyy">
		
		
		<br><button type="submit">Create</button>
	</form>
	
	<a th:href="@{/department/search}">Tim kiem</a>
</body>
</html>