<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update department</title>
</head>
<body>
	<div>
		<a th:href="@{/department/create}">Tạo mới</a>
	</div>
	
	<form th:action="@{/department/update}" method="post">
		<label>ID:</label> 
		<br><input type= "number" name="id" th:value="${department.id}"> 
		
		<br><label>Name:</label> 
		<br><input type= "text" name="name" th:value="${department.name}">
		
		<br> <label>Ngay tao:</label>
	  	<br> <input type="text" name="ngaytao" placeholder="dd/MM/yyyy" th:value="${department.ngayTao}">
	  			
		<br><button type="submit">Save</button>
	</form>
	
	

</body>
</html>